In [9]:
import sys
!{sys.executable} -m pip3 install lightgbm

/usr/local/bin/python3: No module named pip3

In [11]:
import numpy as np
import pandas as pd
import lightgbm as lgb
import warnings
import sklearn
from sklearn.model_selection import train_test_split
warnings.filterwarnings("ignore")

In [18]:
df = pd.read_csv("GOOGLE.csv")
df

,Date,Open,High,Low,Close,Adj Close,Volume
0,2004-08-19,2.490664,2.591785,2.390042,2.499133,2.499133,897427216
1,2004-08-20,2.515820,2.716817,2.503118,2.697639,2.697639,458857488
2,2004-08-23,2.758411,2.826406,2.716070,2.724787,2.724787,366857939
3,2004-08-24,2.770615,2.779581,2.579581,2.611960,2.611960,306396159
4,2004-08-25,2.614201,2.689918,2.587302,2.640104,2.640104,184645512
...,...,...,...,...,...,...,...
4912,2024-02-26,143.449997,143.839996,138.740005,138.750000,138.750000,33513000
4913,2024-02-27,139.410004,140.490005,138.500000,140.100006,140.100006,22364000
4914,2024-02-28,139.100006,139.279999,136.639999,137.429993,137.429993,30628700
4915,2024-02-29,138.350006,139.949997,137.570007,139.779999,139.779999,35447100
4916,2024-03-01,139.500000,140.000000,138.425003,138.880005,138.880005,8633007

In [33]:
x = list(df.drop('Close', axis=1).columns)
y = ['Close']
x

['Date', 'Open', 'High', 'Low', 'Adj Close', 'Volume']

In [40]:
train=df.sample(frac=0.8,random_state=200)
predict=df.drop(train.index)
train

,Date,Open,High,Low,Close,Adj Close,Volume
1503,2010-08-09,12.509362,12.590308,12.487195,12.586572,12.586572,75168699
2321,2013-11-06,25.544254,25.579123,25.289459,25.473270,25.473270,36652871
4121,2020-12-31,86.771004,87.946503,86.771004,87.594002,87.594002,20238000
1602,2010-12-29,14.993800,15.004011,14.917087,14.968893,14.968893,40920808
830,2007-12-05,17.253578,17.408001,17.123318,17.397539,17.397539,169015145
...,...,...,...,...,...,...,...
1187,2009-05-07,10.064775,10.086942,9.775858,9.878224,9.878224,120441759
1644,2011-03-01,15.386826,15.422692,14.926552,14.962915,14.962915,133426247
3125,2017-01-18,40.290501,40.310249,40.049500,40.303501,40.303501,25888000
1002,2008-08-12,12.503135,12.606000,12.403509,12.518328,12.518328,110641162
3782,2019-08-28,58.085499,58.820999,57.865002,58.550999,58.550999,16040000

In [41]:
new_train = lgb.Dataset(train[x], train[y])
new_predict = lgb.Dataset(predict[x], predict[y])

In [ ]:
params = {
    "objective": "binary",
    "boosting_type": "rf",
    "num_leaves": 5,
    "force_row_wise": True,
    "learning_rate": 0.5,
    "metric": "binary_logloss",
    "bagging_fraction": 0.8,
    "feature_fraction": 0.8,
    'num_grad_quant_bins': 4
}